
body {
  font-family: monospace;
  background-color: #575454;
  color: #fff;
}

.heading {
  text-align: center;
  font-size: 45px;
  border-bottom: 2px dotted #fff;
}

.container {
  background-color: #696868;
}

.btn-info{
  width: 50%;
  letter-spacing: 2px;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

.btn-info:hover{
  transform: scale(1.05);
}

.icn {
  font-family: monospace;
  font-size: 17px;
}
hr{
  width: 80%;
}
ul li a{
  color: #fff;
  float: left;
  font-family: monospace;
  font-size: 22px;
  margin-left: 23px;
  margin-right:10px ;
}
ul li a:hover{
  color: #999;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .about-header {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  /* .about-section {
    margin-top: 100px;
  } */
  
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* .donate {
    text-decoration: none;
    display: inline-block;
    color: purple;
    font-size: 10px;
    border: 2px solid purple;
    padding: 10px;
    border-radius: 50%;
    margin-top: 4px 2px;
}

nav {
    margin-top: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: purple;
    font-size: 25px;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 160px;
    color: purple;
    font-weight: 600;
    transition: 0.5s;
}

.content h2 {
    color: purple;
    font-size: 35px;
}

.content h1:hover{
    -webkit-text-stroke: 2px purple;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: purple;
    font-size: 20px;
    border: 2px solid purple;
    padding: 20px;
    border-radius: 50%;
    margin-top: 4px 2px;
}

.oval {
    padding: 30px;
} */



