html {
  box-sizing: border-box;
  color: white;
  padding: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("./img/nature.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  /* color: #E0DDCF; */
}

.heading {
  text-align: center;
  font-size: 45px;
  color: #000;
  border-bottom: 2px dotted #000;
}

ul li a{
  color: #fff;
  float: left;
  font-family: monospace;
  font-size: 22px;
  margin-left: 23px;
  margin-right:10px ;
}
ul li a:hover{
  color: #000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

a:hover {
  background-color: #12664f;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* .card {
  box-shadow: 8px 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
} */

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 800px;
    height: 400px;
    background-color: rgb(153, 153, 153,0.4);
    transition: 0.3s;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  body, html {
    height: 100%;
}